@import '@fontsource/inter/latin.css';

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
html, body {
  scroll-behavior: smooth;
  background-color: #F9FAFB; /* fondo oficial Codiva */
  color: #18181B; /* equivalente a text-zinc-900 */
  font-family: 'Inter', sans-serif;
}

/* Selection */
::selection {
  background-color: #104E4E; /* codiva.primary */
  color: white;
}

/* Scrollbar refinado */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #6A757A; /* codiva.secondary */
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Links */
a {
  @apply text-codiva-primary underline-offset-2 hover:underline transition;
}

/* Botones estándar */
.button-primary {
  @apply bg-codiva-primary text-white px-5 py-2 rounded-md hover:bg-[#0c3e3e] transition;
}